/* links */
a {
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
}
/*END*/

* {
	margin: 0;
	padding: 0; outline: 0;
}

/*Language System*/
#lang {
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	width: 160px;
}

#lang ul {
	list-style-type: none;
}

#lang ul li.level1 {
	float: left;
	width: 160px;
	margin-right: none;
	background-color: none;
}

#lang ul li a {
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: none;
	border: 1px;
	border-color: #000;
	padding: 0px;
	position: relative;
}

#lang ul li:hover {
	position: relative;
}

#lang ul li:hover a.level1 {
	background-color: none;
	color: #FFF;
	position: relative;
}

#lang ul li a.level2 {
	background-color: red;
	color: #FFF;
	position: relative;
}

#lang ul li a.level2:hover {
	background-color: #E60000;
	color: #FFF;
	position: relative;
}

#lang ul li a.level1 {
	display: block!important;
	display: none;
	position: relative;
}

#lang ul li ul {
	display: none;
}

#lang ul li a:hover ul, #lang ul li:hover ul {
	display: block;
	position: absolute;left: 0px;
}

#lang ul li ul li a {
	width: 160px;
	padding: 0px 0px 0px 0px;
	border-top-color: #000;
}

#lang ul li ul li a:hover {
	border-top-color: #000;
	position: relative;
}
/*END*/

#paypal-img {
	border-radius:5px;
	background:none repeat scroll 0 0 #F9FFFF;
	margin: 10px;
	border:1px solid #CCDDDD;
	padding:4px 8px;
}

.menu-center img {
	border: 0;
	vertical-align: middle;
}

table.falsa {
	border-collapse:collapse;
	border:0;
	float: left;
	position: relative;
}

body {
	background-color: #ffa217;
	text-align:center;
}

.admin-link {
	text-align: center;
	text-decoration: underline;
	font-size: 10px;
	color: white;	
}

.admin-link a {
	color: red;
}

.admin-content {
	width: 740px;
	text-align: center;	
}

.alerts {
	width: 100%;
	height: 50px;
	border-radius: 15px 15px 0px 0px;
}

.settings-summary {
	width: 100%;
	min-height: 50px;
	border-radius: 0px 0px 15px 15px;
	background-color: red;
}

.menu-margin {
	margin: 20px 0 20px 0;
	width: 740px;
}

.menu {
	width: 100%;
	height: 30px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	display: table-row;
}

.menu-left {
	width: 14px;
	height: 100%;
	background: url(./../images/menuleft.png) no-repeat;
}

.menu-center {
	width: 712px;
	height: 100%;
	background: url(./../images/menucenter.png);
	display: table-cell;
	vertical-align: middle;
}

.menu-right {
	width: 14px;
	height: 100%;
	background: url(./../images/menuright.png) no-repeat;
}

.menu-choice {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
#body-wrapper {
	margin: 0 auto;
	width: 740px;
	text-align: center;
}

#content-wrapper {
	margin: 0 auto;
	width: 740px	
}

.content {
	width: 740px;
	height: 413px;
	background-color: #ff3300;
	border-radius: 30px;
}

.content-logo {
	border-radius: 30px 30px 0 0;
	width: 100%;
	text-align: center;
	height: 160px;
	background: -moz-radial-gradient(50% 100%, farthest-corner, #ff3300, #fff);
	background: -webkit-gradient(radial, 50% 100%, 0, 50% 50%, 350, from(#ff3300), to(#fff));
}

.paypal-form {
	height: 80px;
}